<div class="org-page">
  <div class="page-header-container org-page__head">
    <div class="page-header">
      <div>
        <h2>{{ 'orgStructure.pageTitle' | t }}</h2>
      </div>
    </div>
  </div>

  <div class="tabs">
    <button type="button" [class.active]="tab === 'dept'" (click)="tab = 'dept'">
      {{ 'orgStructure.deptTab' | t }}
    </button>
    <button type="button" [class.active]="tab === 'org'" (click)="tab = 'org'">
      {{ 'orgStructure.orgTab' | t }}
    </button>
  </div>

  <p *ngIf="loading" class="muted org-page__loading">{{ 'common.loading' | t }}</p>

  <div class="panel" *ngIf="!loading && tab === 'dept'">
    <div class="panel-actions">
      <a class="tree-link-btn" [routerLink]="['/org-structure/tree']">
        {{ 'orgStructure.treeButton' | t }}
      </a>
    </div>

    <ng-container *ngIf="departments.length">
      <div class="filters-modern org-page__search">
        <input
          type="search"
          [(ngModel)]="searchDept"
          [attr.placeholder]="'common.searchTable' | t"
          [attr.aria-label]="'common.searchTable' | t"
        />
      </div>

      <srs-data-table
        [loading]="false"
        [showPagination]="false"
        [skeletonRows]="6"
        [skeletonColumns]="5"
        [skeletonAriaLabel]="'common.loading' | t"
      >
        <table>
          <thead>
            <tr>
              <th>{{ 'orgStructure.thId' | t }}</th>
              <th>{{ 'orgStructure.thParent' | t }}</th>
              <th>{{ 'orgStructure.thCode' | t }}</th>
              <th>{{ 'orgStructure.thNameAr' | t }}</th>
              <th>{{ 'orgStructure.thNameEn' | t }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of filteredDepartments()">
              <td>{{ d.id }}</td>
              <td>{{ d.parentId ?? ('common.dash' | t) }}</td>
              <td><code>{{ d.code }}</code></td>
              <td>{{ d.nameAr }}</td>
              <td>{{ d.nameEn }}</td>
            </tr>
            <tr *ngIf="filteredDepartments().length === 0">
              <td colspan="5" class="empty-cell">{{ 'common.noSearchResults' | t }}</td>
            </tr>
          </tbody>
        </table>
      </srs-data-table>
    </ng-container>

    <p *ngIf="!departments.length" class="muted panel__empty">{{ 'orgStructure.empty' | t }}</p>
  </div>

  <div class="panel" *ngIf="!loading && tab === 'org'">
    <div class="panel-actions">
      <button type="button" class="tree-link-btn" (click)="openOrgCreate()">
        {{ 'orgCrud.create' | t }}
      </button>
    </div>
    <ng-container *ngIf="organizations.length">
      <div class="filters-modern org-page__search">
        <input
          type="search"
          [(ngModel)]="searchOrg"
          [attr.placeholder]="'common.searchTable' | t"
          [attr.aria-label]="'common.searchTable' | t"
        />
      </div>

      <srs-data-table
        [loading]="false"
        [showPagination]="false"
        [skeletonRows]="6"
        [skeletonColumns]="6"
        [skeletonAriaLabel]="'common.loading' | t"
      >
        <table>
          <thead>
            <tr>
              <th>{{ 'orgStructure.thId' | t }}</th>
              <th>{{ 'orgStructure.thParent' | t }}</th>
              <th>{{ 'orgStructure.thCode' | t }}</th>
              <th>{{ 'orgStructure.thNameAr' | t }}</th>
              <th>{{ 'orgStructure.thNameEn' | t }}</th>
              <th>{{ 'orgStructure.thExternal' | t }}</th>
              <th>{{ 'common.actions' | t }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of filteredOrganizations()">
              <td>{{ o.id }}</td>
              <td>{{ o.parentId ?? ('common.dash' | t) }}</td>
              <td><code>{{ o.code || ('common.dash' | t) }}</code></td>
              <td>{{ o.nameAr }}</td>
              <td>{{ o.nameEn }}</td>
              <td>
                <span class="type-badge" [class.in]="o.external" [class.out]="!o.external">
                  {{ o.external ? ('common.yes' | t) : ('common.no' | t) }}
                </span>
              </td>
              <td class="actions">
                <button type="button" class="link-btn" (click)="openOrgEdit(o)">{{ 'common.edit' | t }}</button>
                <button type="button" class="link-btn danger" (click)="deleteOrg(o)">{{ 'common.delete' | t }}</button>
              </td>
            </tr>
            <tr *ngIf="filteredOrganizations().length === 0">
              <td colspan="7" class="empty-cell">{{ 'common.noSearchResults' | t }}</td>
            </tr>
          </tbody>
        </table>
      </srs-data-table>
    </ng-container>

    <p *ngIf="!organizations.length" class="muted panel__empty">{{ 'orgStructure.empty' | t }}</p>
  </div>
</div>
