<div class="reset-shell">
  <div class="reset-card">
    <h2>{{ 'auth.resetPasswordTitle' | t }}</h2>
    <p *ngIf="!token">{{ 'auth.resetPasswordMissingToken' | t }}</p>
    <form *ngIf="token && !done" [formGroup]="form" (ngSubmit)="submit()">
      <label>{{ 'auth.resetPasswordNew' | t }}
        <input type="password" formControlName="newPassword" autocomplete="new-password" />
      </label>
      <label>{{ 'auth.resetPasswordConfirm' | t }}
        <input type="password" formControlName="confirmPassword" autocomplete="new-password" />
      </label>
      <button type="submit" class="btn primary" [disabled]="submitting || form.invalid">
        {{ 'auth.resetPasswordSubmit' | t }}
      </button>
    </form>
    <p *ngIf="done">{{ 'auth.resetPasswordSuccess' | t }}</p>
  </div>
</div>
